################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/aspnet_mvc_api.Tests/obj/Debug
/aspnet_mvc_api.Tests/obj/Release/aspnet_mvc_api.Tests.csproj.CoreCompileInputs.cache
/.vs
